<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Tailwind CSS from /output.css -->
  <link href="/CSS/output.css" rel="stylesheet" />
  <!-- Backup Tailwind CSS CDN -->
  <script src="https://cdn.tailwindcss.com"></script>

  <title>Gour Krishna Dey | Portfolio</title>
  <link rel="icon" type="image/png" href="/assets/Images/Profile2.png" />

  <!-- Social Media Thumbnail Preview -->
  <meta property="og:title" content="Gour Krishna Dey | Portfolio" />
  <meta property="og:description" content="Aspiring ML Engineer | M.Tech @ IIIT-Delhi | Web Dev, NLP, UI/UX Design" />
  <meta property="og:image" content="https://res.cloudinary.com/dkjlvvhmi/image/upload/v1747965003/Thumbnail2_gvtncf.jpg" />
  <meta property="og:url" content="https://gkdey17cse.github.io/gkdey/src/index.html" />
  <meta property="og:type" content="website" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Gour Krishna Dey | Portfolio" />
  <meta name="twitter:description" content="Aspiring ML Engineer | M.Tech @ IIIT-Delhi | Web Dev, NLP, UI/UX Design" />
  <meta name="twitter:image" content="https://res.cloudinary.com/dkjlvvhmi/image/upload/v1747965003/Thumbnail2_gvtncf.jpg" />


  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Mulish&family=Poppins&family=Raleway&family=Roboto&display=swap" rel="stylesheet" />

  <!-- Owl Caraousel -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Anime js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="CSS/animate.css" />
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>

</head>

<body>
    <section class="text-gray-600 body-font" style='font-family: "Josefin Sans", sans-serif;'>
        <div class="container h-screen mx-auto flex px-5 py-24 items-center justify-center flex-col">
            <img class="lg:w-2/3 md:w-3/6 w-5/6  object-cover object-center rounded" alt="hero"
                src="./Images/ERROR404_final.jpg">
            <div class="text-center lg:w-2/3 w-full">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">PAGE NOT FOUND</h1>
                <p class="mb-8 text-xl leading-relaxed">Sorry, the page you're looking for isn't available.</p>
                <div class="flex justify-center">
                    <a href="./index.html">
                        <button
                            class="inline-flex py-2 px-4 shadow-md bg-gradient-to-r from-teal-600 to to-teal-600 via-teal-500 text-bold text-white hover:scale-11 hover:scale-110 duration-500">Redirect
                            to Homepage</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>